body {
    min-height: 100vh;
    margin: 15px 10px 0 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "yel yel pur"
    "re gre pur"
    "re vio vio";
    gap: 20px;
}
div:nth-child(1) {
    background: yellow;
    grid-area: yel;
    /* margin: 15px 0 20px 15px; */
}
div:nth-child(2) {
    background: purple;
    grid-area: pur;
    /* margin: 15px 15px 0 20px; */
}
div:nth-child(3) {
    background: red;
    grid-area: re;
    /* margin: 0 20px 10px 15px; */
}
div:nth-child(4) {
    background: green;
    grid-area: gre;
}
div:nth-child(5) {
    background: orchid;
    grid-area: vio;
    /* margin: 20px 15px 10px 0; */
}